<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rocketing | {{ title }}</title>
    <link rel="stylesheet" href="public/styles.css">
    <link rel="icon" type="image/x-icon" href="public/images/rocket1.svg">
  </head>
  <body>
    {% include "tera/nav" %}

    <main class="content">
      {% block content %}{% endblock content %}
    </main>

    {% include "tera/footer" %}
  </body>
</html>