{% extends "tera/base" %}

{% block content %}
    <div class="flex column">
        <h1>Hallo Leute!</h1>
        <h2 class="cyan">Willkommen zu meiner Webseite</h2>
    </div>
{% endblock content %}