<nav>
    <a href="/">
        <image src="/images/rocket3.svg" width="30" height="30" alt="logo" />
    </a>
    <a href="/todos/new" class="button is-primary is-small">New Todo</a>
    <a href="/todos" class="link">TODOS</a>
    <a href="/users/register" class="link">REGISTER</a>
    {# TODO: ? #}
    <a href="#" class="link">LOGOUT</a>
</nav>
