{% extends "tera/base" %}

{% block content %}
    <h1>Hi {{ name }}!</h1>
    <h3>Here are your people:</h3>
    <ul>
        {% for p in people %}
            <li>user: {{ p.firstname }} {{ p.lastname }} comes from: {{ p.city }}</li>
        {% endfor %}
    </ul>

{% endblock content %}